:root {
  --primary-color: #00a6fb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: #181818;
  /* background: #010101; */
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(0, 0, 0, 0.1); /*#2d333b; - darkmode*/
  border-radius: 6px;
  word-wrap: normal;
  margin-top: 0;
  margin-bottom: 16px;
}

code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  /*rgb(173, 186, 199); dark mode*/
}

blockquote {
  border-left: 7px solid #3e3e3e;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.projectLayout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 3fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.projectLayout-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  padding: 12px;
}

.projectLayout-content {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
  min-height: auto;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}

.projectLayout-footer {
  position: relative;
  z-index: 2;
  grid-area: 3 / 1 / 4 / 2;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 50%);
}

.static-image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  clip-path: inset(0 0 0 0);
  height: 150px;
}

.static-image {
  position: fixed;
  background-position: center;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 25%;
  filter: blur(5px);
}

.project-grid {
  display: grid;
  width: 80%;
  overflow: hidden;
  grid-template-columns: repeat(5, 2fr);
  margin: 12px auto;
  gap: 5px;
}

.project-card {
  transition: border 0.1s ease-in-out;
  border: 2px solid white;
  cursor: pointer;
  width: 100%;
}

.project-card:hover {
  border: 4px solid var(--primary-color);
}

.zoomContent-image {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}
.zoomContent-image:hover {
  transform: scale(1.05);
}

/* Swiper Overrides */
.swiper {
  padding-top: 30px !important;
}
.swiper-pagination {
  top: 0;
  padding-top: 5px;
  bottom: unset !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.slideshow-content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
  margin: -3px;
  pointer-events: none;
}

.slideshowImage {
  position: absolute;
}

.slideshowImage-slide-in {
  animation: slide-in 0.3s ease-in;
  /* -webkit-animation: slide-in 0.3s ease-in-out; */
}
.slideshowImage-slide-out {
  animation: slide-out 0.3s ease-in;
  /* -webkit-animation: slide-out 0.3s ease-in-out; */
}

@keyframes slide-out {
  0% {
    /*transform: translateY(0%);*/
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);

    /* transform: translateY(-100%); */
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);

    /* transform: translateY(0%); */
  }
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
